{% extends 'base.html.twig' %}

{% block title %}
  Department Edit
{% endblock %}

{% block container %}
{% if is_granted("ROLE_DEPARTMENT") %}
  Usuario: {{ app.user.username }}
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
