{% extends 'base.html.twig' %}

{% block container %}
<h3>Departamento Académico de {{ department.name }}</h3>
<a 
  class="btn btn-primary" 
  role="button"
  href="{{ path('department_update', {id: department.id}) }}">
  Editar Departamento
</a>

<table class="table">
  <thead>
    <th scope="col">Código</th>
    <th scope="col">Docente</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </thead>
  <tbody class="align-middle">
    {% for teacher in department.teachers if teacher.category and teacher.id |length  > 8%}
    <tr>
      <th scope="row">
        <a href="{{ path('teacher_detail', {id: teacher.id}) }}">{{ teacher.id }} </a>
      </th>
      <td>
        <a href="{{ path('teacher_detail', {id: teacher.id}) }}">{{ teacher.grade}} {{ teacher.lastName }}, {{ teacher.firstName }}</a>
      </td>
      <td>
        <a 
          class="btn btn-sm btn-primary" 
          role="button"
          href="{{ path('teacher_summary_update', {id: teacher.id}) }}">
          Editar Reseña
        </a>
      </td>
      <td>
        <a 
          class="btn btn-sm btn-primary" 
          role="button"
          href="{{ path('teacher_photo_update', {id: teacher.id}) }}">
          Cambiar Foto
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
