{% extends 'base.html.twig' %}

{% block container %}
<h3>Prensa</h3>

<table class="table">
  <thead>
    <th scope="col" class="align-middle">Tipo</th>
    <th scope="col" class="align-middle">Número</th>
    <th scope="col" class="align-middle">Fecha de Publicación</th>
    <th scope="col" class="align-middle">
      <a
        class="btn btn-primary"
        role="button"
        href="{{ path('newsletter_create') }}">
        Nueva Publicación
      </a>
    </th>
  </thead>
  <tbody class="align-middle">
    {% for newsletter in newsletters %}
    <tr>
      <th scope="row" class="align-middle">
        {{ newsletter.type.name }}
      </th>
      <th scope="row" class="align-middle">
        <a target="_blank" href="{{ path('cms_newsletter', {id: newsletter.id}) }}">{{ newsletter.number }}</a>
      </th>
      <td class="align-middle">
        {{ newsletter.publishedAt|date('Y-m-d') }}
      </td>
      <td class="align-middle">
        <a
          class="btn btn-sm btn-primary"
          role="button"
          href="{{ path('newsletter_delete', {id: newsletter.id}) }}">
          Borrar
        </a>
        <a
          class="btn btn-sm btn-primary"
          role="button"
          href="{{ path('newsletter_update', {id: newsletter.id}) }}">
          Editar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
