{% extends 'base.html.twig' %}

{% block container %}
<h3>Escuela Profesional</h3>
<a 
  class="btn btn-primary" 
  role="button"
  href="{{ path('announcement_create') }}">
  Add Announcement
</a>
{% endblock %}
