{% extends 'base.html.twig' %}

{% block title %}
  Teacher Edit
{% endblock %}

{% block container %}
{% if is_granted("ROLE_DEPARTMENT") %}
  Usuario: {{ app.user.username }}
{% endif %}

<h4>
  {{ teacher.grade }} {{ teacher.lastName }}, {{ teacher.firstName }}
</h4>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
