$red: #711610;
$blue: #160F70;
$orange: #fd7e14;

$primary: $red;
$success: #00FF00;
$secondary: #E6D9AA;
$danger : $orange;
$info   : $blue;

$font-family-base: Georgia, "Times New Roman", Times, serif;
$link-color: $primary;
$gray: #9A999D;
$navbar-dark-color: rgba(#FFFFFF, 1);
$navbar-dark-hover-color: rgba(#FFFFFF, 1);
$navbar-dark-hover-decoration: underline;
$table-border-color: $primary;
$border-color: $primary;

$body-bg: lighten($secondary, 15%);
$dropdown-bg: lighten($secondary, 15%);

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';

nav {
  background-color: $primary;
  ul a:hover {
    text-decoration: underline !important;
  }
  @media (max-height: 575.98px), (max-width: 1199.98px) {
    .dropdown-menu {
      max-height:300px;
      overflow-y: scroll;
    }
  }
}

body {
  background-color: white;
  &>.container {
    background-color: lighten($secondary, 15%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
  }
}

footer {
  background-color: darken($info, 12%);
}

div.carousel-caption * {
  padding-bottom: 20px !important;
}
