nav {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  @media (min-width: 992px) {
    background-color: transparent;
  }
}

.carousel-img {
  height: 100vh;
  min-height: 490px;
  background-color: #E6D9AA;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
}

div.carousel-caption {
  left: 5%;
  right: 5%;
  * {
    padding-bottom: 5px !important;
    line-height: 1.1;
  }
  @media (min-width: 576px){
    * {
      padding-bottom: 10px !important;
      line-height: 1.2;
    }
  }
}

.card {
  box-shadow: rgb(195, 198, 199) 2px 2px 5px -2px;
}

@media (min-width: 991.98px) {
  .carousel-caption {
    left: 10%;
    right: 10%;
  }
}

@media (min-width: 1200px) {
  .carousel-caption {
    left: 20%;
    right: 20%;
  }
}
