{% extends 'base.html.twig' %}

{% block title %}{{ newsletter.type.name }} Nº {{ newsletter.id }}{% endblock %}

{% block container %}
<h2>Comunidad FIC Nº {{ newsletter.number }}</h2>
<div class="row">
  <div class="col-lg-8">
    <div data-configid="14646999/{{ newsletter.issuuCode }}" style="width:100%; height: calc(100vh - 126.4px);" class="issuuembed"></div>
  </div>
  <div class="col-lg-4">
    <ul>
    {% for newsletter in newsletters %}
      <li><a href="{{ path('cms_newsletter', {id: newsletter.id}) }}">{{ newsletter.type.name }} Nº {{ newsletter.number }} ({{ newsletter.publishedAt|date('d-m-Y') }})</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
{% endblock %}
