{% extends 'base.html.twig' %}

{% block title %}{% trans %}Entrant profile{% endtrans %}{% endblock %}

{% block container %}
<h2>{% trans %}Entrant profile{% endtrans %}</h2>
<div class="row">
  <div class="col-md-8">
    <h4>Examen de Adminsión</h4>
    <ul class="text-justify">
      <li>Conocimientos sólidos de Aritmética, Algebra, Geometría y Trigonometría del nivel del examen de admisión UNI.</li>
      <li>Conocimientos de Física (Mecánica, Electricidad, Magnetismo, Termodinámica) y Química (Estructura Atómica, Gases, Equilibrio, Estequiometría, Orgánica) del nivel del examen de admisión UNI.</li>
      <li>Conocimiento y desarrollo de experimentos básicos de ciencias.</li>
      <li>Razonamiento lógico, ordenado e intuitivo.</li>
      <li>Capacidad de abstracción para visualizar objetos imaginados en dos y tres dimensiones.</li>
      <li>Capacidad para representar en forma gráfica diferentes objetos con posición espacial definida.</li>
      <li>Conocimientos de geografía nacional y mundial. (Examen de Admisión).</li>
      <li>Conocimiento de los asuntos políticos, económicos y sociales más relevantes a nivel nacional e internacional.</li>
      <li>Lectura de textos básicos en inglés.</li>
    </ul>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <h4>Primer Semestre</h4>
    <ul class="text-justify">
      <li>Interés por las ciencias y sus potenciales aplicaciones.</li>
      <li>Manejo de herramientas de ofimática de uso común (procesador de textos, hoja de cálculo, presentación de diapositivas) e Internet.</li>
      <li>Capacidad de formular argumentos coherentes para las ideas que propone.</li>
      <li>Capacidad de expresión oral clara, ordenada y convincente.</li>
      <li>Capacidad de redacción de textos con mensaje claro cumpliendo las reglas ortográficas y gramaticales.</li>
      <li>Organización y disciplina en el trabajo individual y trabajo en equipo.</li>
      <li>Predisposición al trabajo grupal y colaborativo.</li>
      <li>Respetuoso de las normas y los reglamentos.</li>
      <li>Proactivo y orientado al logro de metas y resultados.</li>
    </ul>
  </div>
</div>
{% endblock %}
