{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mission and vision{% endtrans %}{% endblock %}

{% block container %}
<h2>{% trans %}Mission and vision{% endtrans %}</h2>
<div class="row">
  <div class="col-md-8">
    <h4>Misión</h4>
    <p class="text-justify">
      «Formar profesionales líderes en ingeniería civil, con competencias en
      ciencias y tecnología; comprometidos en lograr el desarrollo sostenible
      de la infraestructura nacional con solvencia técnica y ética»
    </p>

    <h4>Visión</h4>
    <p class="text-justify">
      «Ser una Facultad líder, en la formación de profesionales de primer nivel
      en las especialidades de Ingeniería Civil, con excelencia en sus
      profesional, con aptitudes para la investigaciones e innovaciones
      científicas y tecnológicas, con responsabilidad social, enfoque humano y
      contribución al país, sobre una organización basada en procesos, servicios
      y cultura de calidad con reconocimiento nacional e internacional»
    </p>
  </div>
  <div class="col-md-4">
  </div>
</div>
{% endblock %}
