{% extends 'base.html.twig' %}

{% block title %}{% trans %}Graduate profile{% endtrans %}{% endblock %}

{% block container %}
<h2>{% trans %}Graduate profile{% endtrans %}</h2>
<div class="row">
  <div class="col-md-7 text-justify">
    <p>
      La ingeniería civil es una carrera apasionante, con gran campo de acción
      laboral, es la más antigua de todas las ingenierías y líder en
      investigaciones, incorpora constantemente nuevos modelos de cálculo y el
      uso de diferentes materiales para la construcción, tiene como objetivo la
      transformación del medio ambiente haciendo uso racional de los recursos
      naturales para construir obras civiles tales como: carreteras, puentes,
      puertos, aeropuertos, ferrocarriles, edificaciones, estadios, hospitales,
      centros comerciales, obras hidráulicas, obras de saneamiento, tratamiento
      y distribución de aguas, sistemas de transportes.
    </p>
    <p>
      El Perú ante los grandes cambios sociales y crecimiento económico se
      consolida de manera destacable y requerirá de grandes obras de
      infraestructura, por lo tanto la ingeniería civil en el país tendrá una
      gran demanda de profesionales. Por otra parte la apertura económica del
      país traerá consigo el flujo de profesionales extranjeros y nacionales
      que radican en el exterior cuyas capacidades contribuirán al desarrollo
      del país y complementariamente enriquecerán los conocimientos de los
      profesionales nacionales, propiciando la internacionalización de la
      carrera.
    </p>
  </div>
  <div class="col-md-5">
  </div>
</div>
<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-7 text-justify">
    <p>
      El egresado de ingeniería civil de la Universidad Nacional de Ingeniería
      tiene una sólida formación en ciencias básicas con alto nivel en
      conocimientos técnicos y capacidad creativa e innovadora, con
      competencias profesionales que le permitan ser capaz de formular y
      diseñar sistemas de infraestructura multimodal (carreteras,
      ferrocarriles, puertos, aeropuertos). Evaluar condiciones geotécnicas de
      los suelos y rocas, proponiendo cimentaciones que soporten los diferentes
      tipos de estructuras que se proyecta construir. Debe igualmente ser capaz
      de seleccionar, diseñar y evaluar los sistemas estructurales que se
      adopte a los proyectos arquitectónicos propuestos. Así mismo, evaluar,
      diseñar y proyectar sistemas hidráulicos, defensas ribereñas, sistemas de
      distribución de agua y evacuación de desagüe sanitario.
    </p>
    <p>
      El ingeniero civil de la Universidad Nacional de Ingeniería tiene
      capacidad para comunicarse en forma clara y precisa tanto en su lengua
      materna como extranjera, liderar e integrarse con distintos grupos de
      profesionales, adaptarse a los cambios socioculturales y avances
      tecnológicos; actualizarse constantemente para ser altamente competitivo
      acorde a la necesidad y realidad de nuestro país. Así mismo, su formación
      ética y humanística le permitirá evaluar sus decisiones y acciones desde
      una perspectiva moral, asumiendo responsabilidad en su vida profesional.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-7 text-justify">
  <p>
    Su formación integral le permitirá una gran versatilidad para desempeñarse sin dificultad en las siguientes líneas de carrera:
  </p>
  <ul>
    <li>Ingeniería de Construcción</li>
    <li>Ingeniería Estructural</li>
    <li>Ingeniería Hidráulica e Hidrológica</li>
    <li>Ingeniería Geotécnica</li>
    <li>Ingeniería de Vialidad y Geomática</li>
  </ul>
  </div>
  <div class="col-md-5">
  </div>
</div>
{% endblock %}
