{% extends 'base.html.twig' %}

{% block title %}Decano{% endblock %}

{% block container %}
<h2>Calendario de Actividades Académicas Ciclo 2018-II</h2>
<div class="row">
  <div class="col-md-8">
    <img class="img-fluid" src="{{ asset('cms/calendario-actividades.jpg') }}" alt="Calendario de Actividades Académicas 2018-II"/>
  </div>
  <div class="col-lg-4">
    <h4>
      {% trans %}Lastest Announcements{% endtrans %}
    </h4>
    <ul class="list-unstyled">
    {% for announcement in announcements|reverse %}
      <li><a href="{{ path('cms_announcement', {id: announcement.id}) }}">{% trans %}Announcement{% endtrans %} Nº {{ announcement.id }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
