<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FIC - {% block title %}UNI{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/base.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{{ path('index') }}">
        <img class="d-inline-block align-top" src="{{ asset('images/UNI_logo.svg') }}" height="30" alt="Logo UNI">
        FIC UNI
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}About us{% endtrans %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!--<a class="dropdown-item disabled" href="#">Historia</a>-->
              <a class="dropdown-item" href="{{ path('cms_page_mission_vision') }}">
                {% trans %}Mission and vision{% endtrans %}
              </a>
              <a class="dropdown-item" href="{{ path('cms_page_dean') }}">
                Decano
              </a>
              <!--<a class="dropdown-item disabled" href="#">Organización</a>-->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('teacher_list') }}">
                {% trans %}Faculty{% endtrans %}
              </a>
              <!--<a class="dropdown-item disabled" href="#">Administración</a>-->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}About the career{% endtrans %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path('cms_page_entrant_profile') }}">
                {% trans %}Entrant profile{% endtrans %}
              </a>
              <a class="dropdown-item" href="{{ path('cms_page_graduate_profile') }}">
                {% trans %}Graduate profile{% endtrans %}
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('department_list') }}">
                {% trans %}Departments{% endtrans %}
              </a>
              <a class="dropdown-item" href="{{ path('course_list') }}">
                {% trans %}Courses{% endtrans %}
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}Information for students{% endtrans %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item disabled" href="#">Reglamento</a>
              <a class="dropdown-item" href="{{ path('cms_page_calendario') }}">Calendario de Actividades</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('cruce_horarios') }}">Cruce de horarios</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans %}Institutes, centres and laboratories{% endtrans %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="tooltip" title="Instituto de Investigación de la FIC" target="_blank" href="http://www.iific.uni.edu.pe">IIFIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Instituto para la Mitigación de los Efectos del Fenómono El Niño" target="_blank" href="http://www.imefen.uni.edu.pe">IMEFEM</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Centro de Cómputo de la FIC" target="_blank" href="http://ccfic.uni.edu.pe">CC-FIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Centro Peruano Japonés de Investigaciones Sísmicas y Mitigación de Desastres" target="_blank" href="http://www.cismid.uni.edu.pe">CISMID</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Centro de Educación Continua FIC" target="_blank" href="http://cecfic.uni.edu.pe">CEC-FIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Acreditación FIC" target="_blank" href="http://www.acreditacionfic.uni.edu.pe">Acreditación FIC</a>
              <a class="dropdown-item" data-toggle="tooltip" title="Postgrado FIC" target="_blank" href="http://www.postgradofic.uni.edu.pe/">Postgrado FIC</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="http://www.lem.uni.edu.pe">Lab. de Ensayo de Materiales</a>
              <a class="dropdown-item" target="_blank" href="http://www.lms.uni.edu.pe">Lab. de Mecánica de Suelos</a>
              <!--<a class="dropdown-item disabled" href="#">Lab. Nacional de Hidráulica</a>-->
              <!--<a class="dropdown-item disabled" href="#">Lab. de Física</a>-->
              <a class="dropdown-item" target="_blank" href="http://www.labquimica.uni.edu.pe">Lab. de Química</a>
              <!--<div class="dropdown-divider"></div>-->
              <!--<a class="dropdown-item disabled" href="#">Biblioteca «Alberto Regal»</a>-->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="d-inline-block align-top" src="{{ asset('images/'~app.request.locale~'_flag.svg') }}" alt="{{ app.request.locale }}" style="height: 1em" />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item disabled" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'es'})) }}">
                <img class="d-inline-block align-top" src="{{ asset('images/es_flag.svg') }}" alt="es" style="height: 1em" />
              </a>
              <a class="dropdown-item disabled" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'en'})) }}">
                <img class="d-inline-block align-top" src="{{ asset('images/en_flag.svg') }}" alt="en" style="height: 1em" />
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}

    {% block body %}
    <div class="container py-4 px-sm-5">
      {% block container %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    <footer class="pt-5 text-light">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 pb-4 text-center">
              <a target="_blank" href="http://www.uni.edu.pe">
                <img src="{{ asset('images/UNI_logo3.svg') }}" alt="Logo UNI" height="67">
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 pb-4 text-center">
              <a target="_blank" href="http://www.abet.org">
                <img src="{{ asset('images/ABET_logo.svg') }}" alt="Logo ABET" height="67">
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 pb-4">
              <h5>{% trans %}Academics{% endtrans %}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="{{ path('teacher_list') }}">{% trans %}Faculty{% endtrans %}</a></li>
                <li><a class="text-light" href="{{ path('course_list') }}">{% trans %}Courses{% endtrans %}</a></li>
                <li><a class="text-light" href="{{ path('department_list') }}">{% trans %}Departments{% endtrans %}</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3 pb-4">
              <h5>{% trans %}Information for students{% endtrans %}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Reglamento</a></li>
              </ul>
            </div>
          </div>
      </div>
    </footer>
    {% endblock %}
    {% block javascripts %}
      <script src="{{ asset('build/base.js') }}"></script>
    {% endblock %}
  </body>
</html>
