{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/index.css') }}">
{% endblock %}

{% block body %}
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-img"></div>
      <div class="carousel-caption mb-lg-5">
        <a target="_blank" href="http://www.uni.edu.pe">
          <img class="mb-2" src="{{ asset('images/UNI_logo.svg') }}" alt="Logo UNI" height="200" />
        </a>
        <h2>{% trans from 'index'%}uni{% endtrans %}</h2>
        <p class="h3">{% trans from 'index'%}uni.motto{% endtrans %}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img"></div>
      <div class="carousel-caption mb-lg-5">
        <h1>{% trans from 'index' %}fic{% endtrans %}</h1>
        <p class="h3">{% trans from 'index' %}fic.motto{% endtrans %}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img"></div>
      <div class="carousel-caption mb-lg-5">
        <a target="_blank" href="http://main.abet.org/aps/AccreditedProgramsDetails.aspx?OrganizationID=9575&ProgramIDs=5559">
          <img class="mb-2" src="{{ asset('images/ABET_logo.svg') }}" alt="Logo ABET" height="150" />
        </a>
        <h2>{% trans from 'index' %}accredited.by.abet{% endtrans %}</h2>
        <p class="h3">Accreditation Board for Engineering and Technology, Inc.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">MSTT: Inicio de clases 13 de Agosto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="{{ asset('cms/afiche.jpg') }}" alt="Anuncio">
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>

<div class="container px-5">
  <div class="py-4 border-bottom">
    <h2>{% trans %}Lastest Announcements{% endtrans %}</h2>
    <div class="row">
    {% for announcement in announcements|slice(-3)|reverse %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <h6 class="card-header">
            {% trans %}Announcement{% endtrans %} Nº {{ announcement.id }}
          </h6>
          <a href="{{ path('cms_announcement', {id: announcement.id}) }}">
            <img
              class="card-image-top img-fluid"
              src="{{ asset('cms/announcement/' ~ announcement.id ~ '.jpg') }}" 
              alt="{% trans %}Announcement{% endtrans %} Nº {{ announcement.id }}"/>
          </a>
          <div class="card-footer">
            {{ 'days_ago'|trans({'%count%':date("now").diff(announcement.publishedAt)|date('%a')}) }}
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <ul class="list-group list-group-flush">
          {% for announcement in announcements|slice(-8, 5)|reverse %}
            <li class="list-group-item"><a href="{{ path('cms_announcement', {id:announcement.id}) }}">{% trans %}Announcement{% endtrans %} Nº {{ announcement.id }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 border-top">
    <h2>{% trans %}Recent News{% endtrans %}</h2>
    <div class="row">
      {#
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <h6 class="card-header">
             NotiFIC Nº {{ newsletter.id }}
          </h6>
           <a href="{{ path('cms_newsletter', {id: newsletter.id}) }}">
            <img class="card-image-top img-fluid" src="https://image.isu.pub/180320180845-525a06f4d8cc2cb47fe24bd3238de880/jpg/page_1_thumb_large.jpg" alt="Card image cap" />
          </a>
          <div class="card-footer">
            {{ 'days_ago'|trans({'%count%':date("now").diff(newsletter.publishedAt)|date('%a')}) }}
          </div>
        </div>
      </div>
      #}
    {% for newsletter in newsletters|slice(-3)|reverse %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <h6 class="card-header">
            {{ newsletter.type.name }} Nº {{ newsletter.number }}
          </h6>
          <a href="{{ path('cms_newsletter', {id: newsletter.id}) }}">
            <img class="card-image-top img-fluid" src="https://image.isu.pub/{{ newsletter.issuuImageCode }}/jpg/page_1_thumb_large.jpg" alt="Card image cap" />
          </a>
          <div class="card-footer">
            {{ 'days_ago'|trans({'%count%':date("now").diff(newsletter.publishedAt)|date('%a')}) }}
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="col-sm-6 col-lg-3 mb-4">
        <div class="card">
          <ul class="list-group list-group-flush">
          {% for newsletter in newsletters|slice(-8, 5)|reverse %}
            <li class="list-group-item"><a href="{{ path('cms_newsletter', {id: newsletter.id}) }}">{{ newsletter.type.name }} Nº {{ newsletter.number }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  const images = [
  {% for i in 1..3 %}
    '{{ asset('images/foto' ~ i ~ '_1.jpg') }}',
  {% endfor %}
  ];
</script>
<script src="{{ asset('build/index.js') }}"></script>
{% endblock %}
