{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/schedule.css') }}">
{% endblock %}

{% block title %}
  {{ course.id }} -
  {% if app.request.locale == 'es' %}
    {{ course.nameEs }}
  {% elseif app.request.locale == 'en' %}
    {{ course.nameEn }}
  {% else %}
    (ES) No hay traducción disponible
  {% endif %}
{% endblock %}

{% block container %}
<h2 class="pb-4">
  {% if app.request.locale == 'es' %}
    {{ course.nameEs }}
  {% elseif app.request.locale == 'en' %}
    {{ course.nameEn }}
  {% else %}
    (ES) No hay traducción disponible
  {% endif %}
  <small class="text-muted">{{ course.id }}</small>
</h2>
<div class="row">
  <div class="col-lg-4 col-xl-5">
    <h3>Reseña</h3>
    {#<p>{{ course.summary }}</p>#}
  </div>
  <div class="col-lg-8 col-xl-7">
    <h3>Secciones</h3>
    <div id="root">
      Cargando...
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  const courseId = '{{ course.id }}';
  const pathTeacherDetail = '{{ path('teacher_detail', {id: '@teacherId@'}) }}';
  const pathCourseListJson = '{{ path('course_list_json') }}';
  const pathSectionListJson = '{{ path('section_list_json') }}';
  const pathLocationListJson = '{{ path('location_list_json') }}';
</script>
<script src="{{ asset('build/course_detail.js') }}"></script>
{% endblock %}
