{% extends 'base.html.twig' %}

{% block title %}{% trans %}Courses{% endtrans %}{% endblock %}

{% block container %}
<div class="row">
  <div class="col-md-3">
    <h4>Ciclo</h4>
    <ul class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for i in 1..11 %}
      <li class="{% if i < 11 %}w-50{% else %}w-100{% endif %}"><a class="nav-link text-center {% if i == 11 %}active{% endif %}" id="v-pills-{{ i }}-tab" data-toggle="pill" href="#Ciclo_{{ i }}" role="tab" aria-controls="v-pills-{{ i }}" aria-selected="true">
        {% if i < 11 %}
          Ciclo {{ i }}
        {% else %}
          Electivos
        {% endif %}
      </a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="v-pills-tabContent">
      {% for i in 1..11 %}
      <div class="tab-pane fade {% if i == 11 %}show active{% endif %}" id="Ciclo_{{ i }}" role="tabpanel" aria-labelledby="v-pills-{{ i }}-tab">
        <h3>
          {% if i < 11 %}
            Ciclo {{ i }}
          {% else %}
            Electivos
          {% endif %}
        </h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Curso</th>
              <th scope="col">Créd.</th>
              <th scope="col">Dept.</th>
            </tr>
          </thead>
          <tbody>
            {% for course in coursesByCycle[i]%}
            <tr>
              <th scope="row">
                <a href="{{ path('course_detail', {id: course.id}) }}">{{ course.id }}</a>
              </th>
              <td>
                <a href="{{ path('course_detail', {id: course.id}) }}">
                  {% if app.request.locale == 'es' %}
                    {{ course.nameEs }}
                  {% elseif app.request.locale == 'en' %}
                    {{ course.nameEn }}
                  {% else %}
                    (ES) No hay traducción disponible
                  {% endif %}
                </a>
               </td>
              <td>
                {{ course.numCredits }}
              </td>
              <td>
                <a href="{{ path('department_detail', {id: course.department.id}) }}">{{ course.department.id }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/course_list.js') }}"></script>
{% endblock %}
