{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/cruce_horarios.css') }}">
<link rel="stylesheet" href="{{ asset('build/schedule.css') }}">
{% endblock %}

{% block title %}
  Cruce de Horarios
{% endblock %}

{% block container %}
<h2>
Cruce de horarios
</h2>

<div id="root">
Cargando...
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  const pathTeacherDetail = '{{ path('teacher_detail', {id: '@teacherId@'}) }}';
  const pathDepartmentDetail = '{{ path('department_detail', {id: '@departmentId@'}) }}';
  const pathCourseDetail = '{{ path('course_detail', {id: '@courseId@'}) }}';
  const pathCourseList = '{{ path('course_list') }}';
  const pathCourseListJson = '{{ path('course_list_json') }}';
  const pathSectionListJson = '{{ path('section_list_json') }}';
  const pathLocationListJson = '{{ path('location_list_json') }}';
</script>
<script src="{{ asset('build/cruce_horarios.js') }}"></script>
{% endblock %}
