{% extends 'base.html.twig' %}

{% block title %}
  {{ department.id }} - Dept. Acad. de {{ department.name }}
{% endblock %}

{% block container %}
<h2>
  Departamento Académico de {{ department.name }}
  <p class="lead">{{ department.id }}</lead>
</h2>
<div class="row">
  <div class="col-lg-5">
    <h3>Reseña</h3>
    <div class="text-justify">
    {% if app.request.locale == 'es' %}
      {{ department.summaryEs }}
    {% elseif app.request.locale == 'en' %}
      {{ department.summaryEn }}
    {% else %}
      (ES) No hay traducción disponible
    {% endif %}
    </div>
    <h3>Organización</h3>
    <div class="">
    {% if app.request.locale == 'es' %}
      {{ department.organizationEs }}
    {% elseif app.request.locale == 'en' %}
      {{ department.organizationEn }}
    {% else %}
      (ES) No hay traducción disponible
    {% endif %}
    </div>

  </div>
  <div class="col-lg-7">
    <h3>Cursos</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Curso</th>
          <th scope="col">Créditos</th>
          <th scope="col">Ciclo</th>
        </tr>
      </thead>
      <tbody>
        {% for course in department.courses %}
        <tr>
          <th scope="row"><a href="{{ path('course_detail', {id: course.id}) }}">{{ course.id }}</a></th>
          <td><a href="{{ path('course_detail', {id: course.id}) }}">
            {% if app.request.locale == 'es' %}
              {{ course.nameEs }}
            {% elseif app.request.locale == 'en' %}
              {{ course.nameEn }}
            {% else %}
              (ES) No hay traducción disponible
            {% endif %}
          </a></td>
          <td>{{ course.numCredits }}</td>
          <td>{{ course.cycle }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Profesores</h3>
    <table class="table">
      <thead>
        <th scope="col">Código</th>
        <th scope="col">Docente</th>
        <th scope="col">Categoría</th>
      </thead>
      <tbody>
        {% for teacher in department.teachers if teacher.category and teacher.id |length  > 8%}
        <tr>
          <th scope="row">
            <a href="{{ path('teacher_detail', {id: teacher.id}) }}">{{ teacher.id }} </a>
          </th>
          <td>
            <a href="{{ path('teacher_detail', {id: teacher.id}) }}">{{ teacher.grade}} {{ teacher.lastName }}, {{ teacher.firstName }}</a>
          </td>
          <td>
          {% if app.request.locale == 'es' %}
            {{ teacher.category.nameEs }}
          {% elseif app.request.locale == 'en' %}
            {{ teacher.category.nameEn }}
          {% else %}
            (ES) No hay traducción disponible
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
