{% extends 'base.html.twig' %}

{% block title %}{% trans %}Departments{% endtrans %}{% endblock %}

{% block container %}
<div class="row">
{% for department in departments %}
  <div class="col-sm-6">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">{{ department.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Dept. Acad. de {{ department.name }}</h6>
        <div class="card-text text-justify">
        {% if app.request.locale == 'es' %}
          {{ department.summaryEs }}
        {% elseif app.request.locale == 'en' %}
          {{ department.summaryEn }}
        {% else %}
          (ES) No hay traducción disponible
        {% endif %}
        </div>
        <a href="{{ path('department_detail', {id: department.id}) }}" class="card-link">Ver más</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
