{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/schedule.css') }}">
<link rel="stylesheet" href="{{ asset('build/teacher_details.css') }}">
{% endblock %}

{% block title %}
  Docente - {{ teacher.lastName }}, {{ teacher.firstName }}
{% endblock %}

{% block container %}
<h2>
  {{ teacher.grade }} {{ teacher.lastName }}, {{ teacher.firstName }}
  <p class="lead">
    {% for department in teacher.departments %}
    <a href="{{ path('department_detail', {id: department.id}) }}">Departamento Académico de {{ department.name }}</a> <br/>
    {% endfor %}
  </p>
</h2>
<div class="row">
  <div class="col-md-3">
    <div class="img-teacher pb-4">
      <img
        class="img-fluid border"
        src="{{ asset('photos/teacher/' ~ teacher.id ~ '.jpg') }}"
        onerror="this.src='{{ asset('images/foto_no_disponible.jpg') }}'; this.onerror=null;"
        alt="Foto" />
    </div>
    <h3>Categoría</h3>
    <p>
    {% if app.request.locale == 'es' %}
      {{ teacher.category.nameEs }}
    {% elseif app.request.locale == 'en' %}
      {{ teacher.category.nameEn }}
    {% else %}
      (ES) No hay traducción disponible
    {% endif %}
    </p>
  </div>
  <div class="col-md-9">
    <h3>Reseña</h3>
    <p class="text-justify">
    {% if app.request.locale == 'es' %}
      {{ teacher.summaryEs }}
    {% elseif app.request.locale == 'en' %}
      {{ teacher.summaryEn }}
    {% else %}
      (ES) No hay traducción disponible
    {% endif %}
    </p>
    <h4>Contacto</h4>
    <p><a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a><p>
    <h3>Docencia</h3>
    <table class="table">
      <thead>
        <th scope="col">Código</th>
        <th scope="col">Curso</th>
        <th scope="col">Sección</th>
      </thead>
      <tbody>
        {% for section in sections %}
        <tr>
          <td>
            <a href="{{ path('course_detail', {id: section.course.id}) }}">{{ section.course.id }}</a>
          </td>
          <td>
            <a href="{{ path('course_detail', {id: section.course.id}) }}">
              {% if app.request.locale == 'es' %}
                {{ section.course.nameEs }}
              {% elseif app.request.locale == 'en' %}
                {{ section.course.nameEn }}
              {% else %}
                (ES) No hay traducción disponible
              {% endif %}
            </a>
          </td>
          <td>
            {{ section.section }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Horario</h3>
    <div id="root">Cargando...</div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  const teacherId = '{{ teacher.id }}';
  const pathTeacherDetail = '{{ path('teacher_detail', {id: '@teacherId@'}) }}';
  const pathCourseListJson = '{{ path('course_list_json') }}';
  const pathSectionListJson = '{{ path('section_list_json') }}';
  const pathLocationListJson = '{{ path('location_list_json') }}';
</script>
<script src="{{ asset('build/teacher_detail.js') }}"></script>
{% endblock %}
