{% extends 'base.html.twig' %}

{% block title %}{% trans %}Faculty{% endtrans %}{% endblock %}

{% block container %}
<div class="row">
  <div class="col-lg-3">
      <h4>{% trans %}Department{% endtrans %}</h4>
    <ul class="nav flex-wrap nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    {% for department in departments %}
      <li class="w-50"><a class="nav-link text-center {% if department.id == 'DACB' %}active{% endif %}" id="v-pills-{{ department.id }}-tab" data-toggle="pill" href="#v-pills-{{ department.id }}" role="tab" aria-controls="v-pills-{{ department.id }}" aria-selected="true">
        {{ department.id }}
      </a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-lg-9">
    <div class="tab-content" id="v-pills-tabContent">
    {% for department in departments %}
      <div class="tab-pane fade {% if department.id == 'DACB' %}show active{% endif %}" id="v-pills-{{ department.id }}" role="tabpanel" aria-labelledby="v-pills-{{ department.id }}-tab">
        <h3>Departamento Académico de {{ department.name }}</h3>
        <table class="table">
          <thead>
            <th scope="col">Código</th>
            <th scope="col">Docente</th>
            <th scope="col">Categoría</th>
          </thead>
          <tbody>
            {% for teacher in department.teachers if teacher.category and teacher.id |length  > 8%}
            <tr>
              <th scope="row">
                <a href="{{ path('teacher_detail', {id: teacher.id}) }}">{{ teacher.id }} </a>
              </th>
              <td>
                <a href="{{ path('teacher_detail', {id: teacher.id}) }}">{{ teacher.grade}} {{ teacher.lastName }}, {{ teacher.firstName }}</a>
              </td>
              <td>
                {% if app.request.locale == 'es' %}
                  {{ teacher.category.nameEs }}
                {% elseif app.request.locale == 'en' %}
                  {{ teacher.category.nameEn }}
                {% else %}
                  (ES) No hay traducción disponible
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
